<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.myMapper">

	<!-- SM_COMPANY -->
	<select id="getCompany" parameterType="String" resultType="model.Company">
		select * from SM_COMPANY where company_id = #{company_id}
	</select>

	<!-- SM_USERS -->
	<select id="getUserAccount" parameterType="String" resultType="model.User">
		select * from SM_USERS where user_id = #{user_id}
	</select>
	<select id="getUserAccountCount" parameterType="String" resultType="Integer">
		select count(*) from SM_USERS where user_id = #{user_id} 
	</select>
	<insert id="insertUser" parameterType="model.User">
		insert into SM_USERS (
			user_id,
			user_password,
			user_name,
			user_email,
			user_phone,
			user_description,
			team_id,
			position_id
		) 
		values(
			#{user_id},
			#{user_password},
			#{user_name},
			#{user_email},
			#{user_phone},
			#{user_description},
			#{team_id},
			#{position_id}
		)
	</insert>
	
	
	<!-- SM_TEAMS -->
	<select id="getTeamList" resultType="model.Team">
		select * from SM_TEAMS
	</select>
	<select id="getTeamCount" resultType="Integer">
		select count(*) from SM_TEAMS
	</select>
	<insert id="insertTeam" parameterType="model.Team">
		insert into SM_TEAMS values(#{team_id}, #{team_name}, #{team_parent_id})
	</insert>
	
	<!-- SM_POSITION -->
	<insert id="insertPosition">
		insert into SM_POSITION  values(#{position_id} ,#{position_name})
	</insert>
	<select id="getPositionCount" resultType="Integer">
		select count(*) from SM_POSITION
	</select>
	<select id="getPositionList" resultType="model.Position" >
		select * from SM_POSITION order by position_id
	</select>
</mapper>






